/*---------------------

        TODO
-semantic naming
-sort
-get rid of !important
-change em->rem
-check font sizes on page bodies
---------------------*/

/*---------------------
      PSEUDO-CLASSES
---------------------*/
:root {
  --primary-color: #7283fe;
  --secondary-color: #f29085;
  --tertiary-color: #5a5a5a;
  --link-hover-color: #f29085;
  --black-color: #212529;
  --black-background-color: #5a5a5a;
  --white-color: #ffffff;
  --white-background-color: #ffffff; /*#def;*/
  --font-serif: 'Times New Roman', Times, serif;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --link-color: #551a8b;
}

/*---------------------
        RESETS
---------------------*/
html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
  margin: 0;
  padding: 0;
}

img,
fieldset {
  border: none;
}
ul {
  list-style-type: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/*---------------------
      AT RULES
---------------------*/

@font-face {
  font-family: 'Lucida-Calligraphy';
  src: url('/fonts/lucida-calligraphy.ttf') format('truetype');
  font-weight: normal;
}
@media screen and (max-width: 512px) {
  * {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}
@media screen and (max-width: 672px) {
  footer,
  #sec_hero {
    flex-direction: column;
  }
  footer {
    gap: 1em;
  }
  #btn_donate {
    margin-bottom: 1em;
  }
  #eventslinks,
  #homelinks {
    width: 100%;
  }
  p {
    text-align: left;
  }
}

@media screen and (width > 672px) {
  footer,
  #sec_hero {
    flex-direction: row;
  }

  #homelinks {
    width: 40%;
  }
  #eventslinks {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  p {
    text-align: left;
  }
}

@media screen and (width > 425px) {
  P {
    text-align: justify;
  }
}

/*---------------------
    TYPE SELECTORS
---------------------*/

a p {
  text-align: center;
}
a:not(.linkHActive, .linkVActive):hover {
  color: var(--link-hover-color);
}
aside {
  width: 8.75em;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white-background-color);
  display: block;
  font-family: var(--font-sans-serif);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  text-align: center;
  width: 95vw;
}

details #fnav {
  padding-bottom: 10em;
}
dl {
  font-family: var(--font-sans-serif);
  margin-left: 2em;
  text-align: left;
}

figure {
  margin: 1em 0;
}
figcaption {
  border-top: 1px solid #00bcd4;
  font-family: var(--font-sans-serif);
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 0 0 0;
  text-align: center;
}
footer {
  background-color: var(--tertiary-color);
  color: var(--white-color);
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0.625em;
  padding: 0.25em 0;
}

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
footer article {
  height: fit-content;
}
footer a {
  color: var(--white-color);
}
footer a:hover {
  color: var(--link-hover-color);
}
footer p {
  font-size: 1em;
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  color: var(--black-color);
  font-family: var(--font-sans-serif);
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
header :not(:first-child),
header li:first-child/ {
  margin-top: 0.625em;
}
hr {
  border-top: 2px solid var(--primary-color);
  color: var(--black-background-color);
  display: block;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
  overflow-x: hidden;
  text-align: center;
}
img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
li,
p,
td {
  font-family: var(--font-sans-serif);
  font-size: 1.2em;
  margin-top: 0;
}
li,
td {
  text-align: left;
}
li,
p {
  margin-bottom: 0.5em;
}

small {
  display: block;
  font-family: var(--font-sans-serif);
  font-size: 1.2em;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}

/*---------------------
    CLASS SELECTORS
---------------------*/

address {
  font-family: var(--font-sans-serif);
  font-size: 1.2em;
  font-style: normal;
  margin-bottom: 0.5em;
  text-align: center;
}

footer address {
  font-size: 1em;
}
.ul_bookslist {
  list-style-type: none;
}
.p_bordered-box {
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.p_category {
  font-weight: bold;
}
.center {
  text-align: center;
}

.dl_book-donations {
  font-size: 1.2em;
}

.dl_book-donations dt,
.dl_book-donations dd {
  text-indent: -1.5rem;
  padding-left: 1.5rem;
}
.dl_book-donations dd {
  margin-left: 3rem;
}
.hr_divider,
.hr_divider-sidemenu,
.hr_divider-vNav {
  width: 100%;
}

.hr_sub-divider {
  border-top: 2px solid var(--secondary-color);
  width: 80%;
}

.event td,
.event tr {
  height: 3rem;
  padding-bottom: 1rem;
  text-align: top;
  vertical-align: top;
}

.event td:first-of-type {
  font-weight: 500;
  width: 40%;
}

.event td:nth-child(2) {
  padding-right: 1em;
  width: 30%;
}

.event td:last-of-type {
  width: 30%;
}
.eventlink,
.eventlink a,
.home a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.fnav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.fnav p {
  text-align: left;
}

.fnav details,
.fav summary {
  padding: 0.25em 0;
  text-align: left;
}

.fnav ul {
  list-style-type: none;
}
#icon_computer-menu {
  padding-top: 0;
}

.icon_mobile-menu {
  padding-top: 0.35em;
}
.icon_social-media {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 3em;
}
.linkF {
  text-align: left;
}
.linkF :not(:last-child) {
  margin-bottom: 0.25em;
}
.linkH,
.linkV {
  box-sizing: border-box;
  color: var(--black-color);
  display: block;
  font-family: var(--font-sans-serif);
  font-size: 0.8125em;
  font-weight: 700;
  height: auto;
  line-height: 1.5em;
  margin-top: 0 !important;
  outline: 0;
  overflow-wrap: break-word;
  /*padding: 0.25em 0.625em 0.25em;*/
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: fit-content;
}
.linkHActive,
.linkVActive {
  background: var(--secondary-color);
  color: var(--white-background-color);
}
.linkHInactive,
.linkVInactive {
  background: var(--white-background-color);
  color: var(--black-color) !important;
}
.linkHInactive:focus {
  outline: 0;
}
.linkV {
  border: 1px solid var(--secondary-color);
  padding: 0.125em 0.625em 0.25em;
}
.linkVActive {
  outline: 0;
}
.mainsubpage {
  margin-top: 0.5em;
}

.ul_gsheets-data p {
  font-size: 1em;
  padding-left: 1.5rem;
  text-align: left;
  text-indent: -1.5rem;
}
.narrow {
  width: 15em;
}
.narrow,
.wide {
  border: none;
  padding: 0;
}
.nosubpages {
  padding-left: 1em;
}
.orgname {
  padding-left: 0.5em;
  text-align: left;
}
.orgtitle {
  padding-right: 0.5em;
  text-align: right;
}
.poster {
  max-width: 50%;
}
/* .subdetail :first-child {
  padding-left: 3em;
} */
.subdetail :not(:first-child) {
  padding-left: 1em;
}

.title {
  border: none;
  text-decoration: underline;
  padding: 0;
}
.updated {
  font-weight: italic;
  text-align: right;
}
.vstack {
  display: flex;
  flex-direction: column;
}
.vstack :not(:first-child) {
  margin-top: 1.25rem;
}
p .wide {
  width: 18.75em;
}

/*---------------------
    ID SELECTORS
---------------------*/

#a_photo-album {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0;
}

#ul_accomplishments {
  list-style-type: disc;
  margin-left: 2em;
  width: 90%;
}

#art_hero-center {
  margin-bottom: 1em;
  margin-top: 1em;
}
#art_quick-links_left p {
  text-align: right;
}
#art_quick-links_right p {
  text-align: left;
}
#banner {
  align-items: center;
  background: var(--black-background-color);
  color: var(--white-background-color);
  display: flex;
  font-family: var(--font-sans-serif);
  font-size: 1.2em;
  font-weight: 700;
  height: fit-content;
  justify-content: center;
  margin-bottom: 0.625em;
  text-align: center;
  vertical-align: middle;
  width: 95vw;
}
#buyabrick p {
  text-align: left;
  width: 95vw;
}
#sec_grab-and-go {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  width: 100%;
}
#btn_close {
  background-color: transparent;
  border: none;
  float: left;
}
#dl_upcoming-events dt {
  font-weight: 500;
  margin: 0;
}
#dl_upcoming-events dd {
  margin: 0 1em 0 1em;
}
#ul_donation-hours {
  list-style-type: disc;
  margin-left: 2em;
  text-align: left;
  width: 80%t;
}

#eventslinks {
  margin-left: auto;
  margin-right: auto;
}

#img_newwing {
  width: 100vw;
}

#sec_hero {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-background-color);
  display: flex;
  justify-content: space-around;
  height: fit-content;
  margin-top: 0.625em;
  padding-bottom: 0.2rem;
  overflow-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  white-space: pre-wrap;
  width: 95vw;
}
#art_hero-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#art_hero-center p {
  font-family: 'Lucida-Calligraphy';
}
#p-hero_title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  text-align: center;
  width: 100%;
}
#p-hero_location {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  text-align: center;
  width: 100%;
}
#btn_donate {
  background: var(--secondary-color);
  border-radius: 0.375em;
  border-style: solid;
  border-width: 0;
  color: white;
  font-family: var(--font-sans-serif);
  font-size: 0.875em;
  height: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 1;
  padding-bottom: 0.3125em;
  text-align: center;
  width: fit-content;
}
#btn_donate button a {
  color: white;
  font-weight: 600;
  text-align: center;
  vertical-align: center;
}
#art_hero-center {
  width: 70%;
}

#article_hero-left {
  height: 0;
}
#art_hero-left,
#art_hero-right {
  width: 15%;
}
.ul_nav-h {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: var(--font-sans-serif);
  font-size: 1em;
  height: fit-content;
  gap: 1em;
  list-style-type: none;
  justify-content: center;
  margin-top: 0.625em;
  line-height: 1.5em;
  margin-bottom: 0.6255em;
  vertical-align: center;
  width: 95vw;
}
#ul_nav-h_computer {
  gap: 1em;
}
#ul_nav-h_mobile {
  gap: 0.5em;
}

.ul_nav-h li {
  margin-bottom: 0;
}

.ul_nav-h li a {
  padding: 0 0.55em 0 0.55em;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#home h2 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#sec_quick-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

#sec_quick-links article {
  margin-top: 0;
}

#sec_quick-links p {
  font-size: 1.4em;
  font-weight: 500;
}

#logos {
  align-items: baseline;
  display: inline-flex;
  gap: 1em;
  justify-content: center;
  padding-top: 0.25em;
}
#ul_menu {
  display: block;
  list-style-type: none;
  text-align: left;
}

.li_menu p {
  font-size: 1.2em;
  text-align: left;
}

.li_menu-subpages p {
  padding-left: 1em;
}

#P_mission-statement {
  margin-top: 2em;
  width: 80%;
}
#books {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#books details {
  color: var(--black-color);
  text-align: left;
}
#books summary {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
#tb_officers {
  font-family: var(--font-sans-serif);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}
#tb_officers td {
  font-size: 1em;
  width: 20%;
}
#outgoing {
  width: 37.75em;
}
#outgoing td,
tr {
  vertical-align: top;
}
#art_pagebody {
  align-items: top;
  margin-top: 0 !important;
  overflow-x: hidden;
  width: 100%;
}
p #art_page_body {
  text-align: justify;
}
#sec_page-body-side-menu {
  display: flex;
  width: 95vw;
}
#paypal {
  text-align: center;
}
#rentalornew {
  font-weight: bold;
}
#supporterlinks {
  display: flex;
  flex-direction: column;
  height: 5em;
  justify-content: space-between;
}
#vmenu {
  width: 8.75em;
}
#vnav {
  gap: 0.25em;
  width: 7em;
}
#vnav a {
  line-height: 1em;
  width: 100%;
}
#vnav hr {
  border-top-color: var(--secondary-color);
  border-top-width: 4px;
}
#vnav li {
  list-style-type: none;
  margin: 0;
}
