/*------------------------------------------
                      HTML OUTLINE
html
	head
	body
		div #root

			header
				#sec_hero
          article
          article
						p
						p
					article
						button #btn_donate
			main
				section sec-pagebodynosidemenu
					article .art_pagebody
						{children}
				||
				section
						h1 <Banner />
				sec-page-body-side-menu
					 {vw > MOBILE_VW} article
            nav #nav_v
					article .art_pagebody
						{children}

			footer
				section
					address
				section
					article #logos
				section
					a
					a
------------------------------------------*/

/*---------------------

        TODO
-semantic naming
-get rid of !important
-check font sizes on page bodies
--change hero to grid?
---------------------*/

/*---------------------
      PSEUDO-CLASSES
---------------------*/
:root {
  /* @link https://utopia.fyi/type/calculator?c=300,14,1.2,2000,24,1.25,3,3,900-1200-1800-600&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--3: clamp(0.51em, calc(0.46em + 0.25vw), 0.77em);
  --step--2: clamp(0.61em, calc(0.55em + 0.33vw), 0.96em);
  --step--1: clamp(0.73em, calc(0.65em + 0.44vw), 1.2em);
  --step-0: clamp(0.88em, calc(0.76em + 0.59vw), 1.5em);
  --step-1: clamp(1.05em, calc(0.9em + 0.78vw), 1.88em);
  --step-2: clamp(1.26em, calc(1.07em + 1.02vw), 2.34em);
  --step-3: clamp(1.51em, calc(1.26em + 1.33vw), 2.93em);

  --primary-color: #7283fe;
  --secondary-color: #f29085;
  --tertiary-color: #5a5a5a;
  --link-hover-color: #f29085;
  --black-color: #212529;
  --black-background-color: #5a5a5a;
  --white-color: #ffffff;
  --white-background-color: #ffffff; /*#def;*/
  --font-serif: 'Times New Roman', Times, serif;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --link-color: #551a8b;
}

/*---------------------
        RESETS
---------------------*/
html,
body,
address,
blockquote,
dl,
dt,
dd,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
table,
tr,
td,
th,
p,
img {
  margin: 0;
  padding: 0;
}

img,
fieldset {
  border: none;
}
ul {
  list-style-type: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* html,
body {
  height: 100vh;
} */

button {
  cursor: pointer;
}

body {
  background: var(--white-background-color);
}

/*---------------------
      AT RULES
---------------------*/

@font-face {
  font-family: 'Lucida-Calligraphy';
  src: url('/fonts/lucida-calligraphy.ttf') format('truetype');
  font-weight: normal;
}

/* phone only 599px */
@media screen and (max-width: 37.4375em) {
  * {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
  footer {
    flex-direction: row;
  }
  footer {
    gap: 1em;
  }
  .visibility_phone {
    visibility: visible;
  }
  .visibility_not-phone {
    height: 0;
    visibility: collapse;
    width: 0;
  }
  #btn_donate {
    margin-bottom: 1em;
  }
  p {
    text-align: left;
  }
  #ul_nav-h_phone {
    height: fit-content;
  }
  #ul_nav-h_not-phone {
    height: 0;
  }
}

/* tablet portrait up 600px */
@media screen and (min-width: 37.5em) {
  footer {
    flex-direction: row;
  }

  p {
    text-align: justify;
  }

  .visibility_phone {
    height: 0;
    visibility: collapse;
    width: 0;
  }
  .visibility_not_phone {
    visibility: visible;
  }
  #sec_page-body-side-menu {
    display: flex;
  }
  #ul_nav-h_phone {
    height: 0;
    margin-bottom: 0.5em;
  }
  #ul_nav-h_not-phone {
    height: fit-content;
  }
}

/* table landscape up 900px */
@media screen and (min-width: 56.25em) {
}

/* desktop up 1200px */
@media screen and (min-width: 75em) {
}

/* big desktop up 1800px */
@media screen and (min-with: 112.5em) {
}

/*---------------------
    TYPE SELECTORS
---------------------*/
a p {
  text-align: center;
}
a:not(.linkHActive, .linkVActive):hover {
  color: var(--link-hover-color);
}
address {
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  font-style: normal;
  margin-bottom: 0.5em;
  text-align: center;
}

/* Stick Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white-background-color);
  font-family: var(--font-sans-serif);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  text-align: center;
  width: 95vw;
}

details #fnav {
  padding-bottom: 10em;
}
dl {
  font-family: var(--font-sans-serif);
  margin-left: 2em;
  text-align: left;
}

figcaption {
  border-top: 1px solid #00bcd4;
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  font-weight: bold;
  padding: 1em 0 0 0;
  text-align: center;
}
figure {
  margin: 1em 0;
} /* Sticky Footer */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Sticky Footer */
footer {
  flex-shrink: 0;
}

footer {
  background-color: var(--tertiary-color);
  display: flex;
  color: var(--white-color);
  font-size: var(--step-1);
  justify-content: space-around;
  line-height: 1.2em;
  margin: 0.625em 0;
  padding: 0.25em 0;
  text-align: center;
}

footer a {
  color: var(--white-color);
}
footer a:hover {
  color: var(--link-hover-color);
}
footer address {
  font-size: var(--step--0);
}
footer article {
  height: fit-content;
}
footer p {
  font-size: var(--step--0);
  margin: 0;
}
h1 {
  align-items: center;
  background: var(--primary-color);
  color: var(--white-background-color);
  display: flex;
  font-family: 'Lucida-Calligraphy';
  font-size: var(--step-3);
  font-weight: 700;
  height: fit-content;
  justify-content: center;
  margin-bottom: 0.625em;
  text-align: center;
  vertical-align: middle;
  width: 95vw;
}
h2 {
  color: var(--black-color);
  font-family: var(--font-sans-serif);
  font-size: var(--step-2);
  font-weight: bold;
  margin: 0;
  text-align: center;
}
header {
  margin-top: 0.625em;
}
hr {
  border-top: 2px solid var(--primary-color);
  color: var(--black-background-color);
  display: block;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
  overflow-x: hidden;
  text-align: center;
}
img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

main {
  flex: 1;
}
li,
p {
  margin-bottom: 0.5em;
}

a,
li,
p,
td {
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  margin-top: 0;
}
li,
td {
  text-align: left;
  font-size: ;
}
p .art_page-body {
  text-align: justify;
}
p .wide {
  width: 18.75em;
}

small {
  display: block;
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}

/*---------------------
    CLASS SELECTORS
---------------------*/

.art_page-body {
  align-items: top;
  margin-top: 0 1em !important;
  margin-left: 1em;
  margin-right: 1em;
  overflow-x: hidden;
  text-align: center;
}

.center {
  text-align: center;
}

.dl_book-donations dd {
  margin-left: 3em;
}
.dl_book-donations dt,
.dl_book-donations dd {
  text-indent: -1.5em;
  padding-left: 1.5em;
}
.dl_book-donations {
  font-size: var(--step-1);
}

.event td,
.event tr {
  height: 3em;
  padding-bottom: 1em;
  text-align: top;
  vertical-align: top;
}

.event td:first-of-type {
  font-weight: 500;
  width: 40%;
}

.event td:last-of-type {
  width: 30%;
}
.event td:nth-child(2) {
  padding-right: 1em;
  width: 30%;
}
#sec_prizes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
}
#sec_prizes article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#sec_prizes a {
  font-size: var(--step-1);
  font-weight: 500;
}

.fnav details,
.fav summary {
  padding: 0.25em 0;
  text-align: left;
}

.fnav p {
  text-align: left;
}

.fnav ul {
  list-style-type: none;
}
.fnav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.hr_divider,
.hr_divider-sidemenu,
.hr_divider-vNav {
  width: 100%;
}

.hr_sub-divider {
  border-top: 2px solid var(--secondary-color);
  width: 80%;
}

.icon_mobile-menu {
  padding-top: 0.35em;
}
.icon_social-media {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 3em;
}
.li_menu p {
  font-size: var(--step-1);
  text-align: left;
}

.li_menu-subpages p {
  padding-left: 1em;
}

.linkF :not(:last-child) {
  margin-bottom: 0.25em;
}
.linkF {
  text-align: left;
}

.linkH {
  font-size: var(--step--1);
}

.linkV {
  font-size: var(--step-0);
}
.linkH,
.linkV {
  box-sizing: border-box;
  color: var(--black-color);
  display: block;
  font-family: var(--font-sans-serif);

  font-weight: 700;
  height: auto;
  line-height: 1.5em;
  margin-top: 0 !important;
  outline: 0;
  overflow-wrap: break-word;
  /*padding: 0.25em 0.625em 0.25em;*/
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: fit-content;
}
.linkHActive,
.linkVActive {
  background: var(--secondary-color);
  color: var(--white-background-color);
}
.linkHInactive,
.linkVInactive {
  background: var(--white-background-color);
  color: var(--black-color) !important;
}
.linkHInactive:focus {
  outline: 0;
}
.linkV {
  border: 1px solid var(--secondary-color);
  padding: 0.125em 0.625em 0.25em;
}
.linkVActive {
  outline: 0;
}
.mainsubpage {
  margin-top: 0.5em;
}

.narrow {
  width: 15em;
}
.narrow,
.wide {
  border: none;
  padding: 0;
}
.nosubpages {
  padding-left: 1em;
}
.orgname {
  padding-left: 0.5em;
  text-align: left;
}
.orgtitle {
  padding-right: 0.5em;
  text-align: right;
}

.p_accomplishments {
  display: list-item;
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 2em;
}
.p_bordered-box {
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.p_category {
  font-weight: bold;
}
.poster {
  max-width: 50%;
}
/* .subdetail :first-child {
  padding-left: 3em;
} */
.subdetail :not(:first-child) {
  padding-left: 1em;
}

.title {
  border: none;
  text-decoration: underline;
  padding: 0;
}
.ul_bookslist {
  list-style-type: none;
}
.ul_gsheets-data p {
  font-size: var(--step-1);
  padding-left: 1.5em;
  text-align: left;
  text-indent: -1.5em;
}
.ul_nav-h li a {
  padding: 0 0.55em 0 0.55em;
}

.ul_nav-h li {
  margin-bottom: 0;
}

.ul_nav-h {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  gap: 2em;
  height: fit-content;
  gap: 1em;
  list-style-type: none;
  justify-content: center;
  margin: 0.625em 0;
  line-height: 1.5em;
  vertical-align: center;
  width: 95vw;
}
.div_updated {
  font-size: 1.2em;
  text-align: right;
}
#div_books-footer b,
#div_books-footer i {
  display: block;
  font-size: 1.2em;
  text-align: left;
}
.vstack :not(:first-child) {
  margin-top: 1.25em;
}
.vstack {
  display: flex;
  flex-direction: column;
}
/*---------------------
HTML OUTLINE STYLES
----------------------*/

/*---------------------
  header
-----------------------*/

/*----------------------
  #sec_hero
  <Hero />
------------------------*/

#sec_hero {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  margin-top: 0.625em;
  padding-bottom: 0.2em;
  overflow-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  white-space: pre-wrap;
  width: 95vw;
}
#sec-hero :nth-child(1) {
  height: 0;
}
#sec_hero :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 70%;
}

#sec_hero :nth-child(2) {
  font-family: 'Lucida-Calligraphy';
}

#sec_hero :first-child,
#sec_hero :last-child {
  width: 15%;
}
#sec_hero :nth-child(2) :nth-child(1) {
  font-size: var(--step-3);
  font-weight: bold;
  margin: 0;
  text-align: center;
  width: 100%;
}

#sec_hero :nth-child(2) :nth-child(2) {
  font-size: var(--step-1);
  font-weight: bold;
  margin: 0;
  text-align: center;
  width: 100%;
}
#sec_hero :nth-child(3) button {
  background: var(--secondary-color);
  border-radius: 0.375em;
  border-style: solid;
  border-width: 0;
  color: white;
  font-family: var(--font-sans-serif);
  font-size: var(--step--1);
  height: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 1;
  padding-bottom: 0.3125em;
  text-align: center;
  width: fit-content;
}
#sec_hero :nth-child(3) button a {
  color: white;
  font-weight: 600;
  text-align: center;
  vertical-align: center;
}

/*----------------------
  img #img_new-wing
------------------------*/

#div_new-wing {
  aspect-ratio: 812/200;
  background-image: url('../assets/images/NewWing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

/*----------------------
  #ul_nav-h-computer || mobile
  <NavBarH />
------------------------*/

/*----------------------
  main
------------------------*/

/*----------------------
  section h1 <Banner />
  See h1 in type section
------------------------*/

/*----------------------
  section #sec_page-body-side-menu
------------------------*/
/* #sec_page-body-side-menu {
  width: 100%;
}
 */
/*----------------------
  section #sec_page-body-no-side-menu
------------------------*/

/*----------------------
  article .art_pagebody
------------------------*/

/*----------------------
  article > #nav_v
------------------------*/
#tbl_upcoming-events {
}

#nav_v {
  gap: 0.25em;
  width: 8.75em;
}
#nav_v a {
  line-height: 1em;
  width: 100%;
}
#nav_v hr {
  border-top-color: var(--secondary-color);
  border-top-width: 4px;
}
#nav_v li {
  list-style-type: none;
  margin: 0;
}

/*----------------------
  footer
------------------------*/

#a_photo-album {
  font-size: var(--step-1);
  font-weight: 500;
  margin-top: 0;
}

#art_quick-links_left,
#art_quick-links_right {
  display: flex;
  flex-direction: column;
}

#art_quick-links_left {
  text-align: right;
}
#art_quick-links_right {
  text-align: left;
}

#sec_new-arrivals article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#sec_new-arrivals a,
#sec_quick-links a,
#a_photo-album,
#a_event-link {
  font-size: var(--step-1);
  font-weight: 500;
}
#books details {
  color: var(--black-color);
  text-align: left;
}
#books summary {
  font-size: var(--step-1);
  font-weight: bold;
  text-align: center;
}
#books {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#btn_close {
  background-color: transparent;
  border: none;
  float: left;
}
#buyabrick p {
  text-align: left;
  width: 95vw;
}
#dl_upcoming-events dd {
  margin: 0 1em 0 1em;
}
#dl_upcoming-events dt {
  font-weight: 500;
  margin: 0;
}

#home h2 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#icon_menu-not-phone a {
}

#logos {
  align-items: baseline;
  display: inline-flex;
  gap: 1em;
  justify-content: center;
  padding-top: 0.25em;
}
#outgoing td,
tr {
  vertical-align: top;
}
#outgoing {
  width: 37.75em;
}
#p_mission-statement {
  margin-top: 2em;
  width: 80%;
}
#paypal {
  text-align: center;
}
#rentalornew {
  font-weight: bold;
}
#sec_grab-and-go {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  width: 100%;
}
#sec_quick-links article {
  margin-top: 0;
}

#sec_quick-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

#supporterlinks {
  display: flex;
  flex-direction: column;
  height: 5em;
  justify-content: space-between;
}
#tb_officers td {
  font-size: var(--step-1);
  width: 20%;
}
#tb_officers {
  font-family: var(--font-sans-serif);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}
#ul_accomplishments {
  list-style-type: disc;
  margin-left: 2em;
  width: 90%;
}

#ul_donation-hours {
  list-style-type: disc;
  margin-left: 2em;
  text-align: left;
  width: 80%t;
}

#ul_menu {
  display: block;
  list-style-type: none;
  text-align: left;
}

#ul_breadcrumbs {
  display: flex;
  flex: row;
}

#breadcrumbs {
  margin-bottom: 0.5em;
  text-align: left;
  text-transform: capitalize;
}
