body {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1920,24,1.125,5,5,900-1200-1800-600&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step -5: 8.88px → 13.32px */
  --step--5: clamp(0.56rem, calc(0.5rem + 0.28vw), 0.83rem);

  /* Step -4: 9.99px → 14.98px */
  --step--4: clamp(0.62rem, calc(0.56rem + 0.31vw), 0.94rem);

  /* Step -3: 11.24px → 16.86px */
  --step--3: clamp(0.7rem, calc(0.63rem + 0.35vw), 1.05rem);

  /* Step -2: 12.64px → 18.96px */
  --step--2: clamp(0.79rem, calc(0.71rem + 0.4vw), 1.19rem);

  /* Step -1: 14.22px → 21.33px */
  --step--1: clamp(0.89rem, calc(0.8rem + 0.44vw), 1.33rem);

  /* Step 0: 16.00px → 24.00px */
  --step-0: clamp(1rem, calc(0.9rem + 0.5vw), 1.5rem);

  /* Step 1: 18.00px → 27.00px */
  --step-1: clamp(1.13rem, calc(1.01rem + 0.56vw), 1.69rem);

  /* Step 2: 20.25px → 30.38px */
  --step-2: clamp(1.27rem, calc(1.14rem + 0.63vw), 1.9rem);

  /* Step 3: 22.78px → 34.17px */
  --step-3: clamp(1.42rem, calc(1.28rem + 0.71vw), 2.14rem);

  /* Step 4: 25.63px → 38.44px */
  --step-4: clamp(1.6rem, calc(1.44rem + 0.8vw), 2.4rem);

  /* Step 5: 28.83px → 43.25px */
  --step-5: clamp(1.8rem, calc(1.62rem + 0.9vw), 2.7rem);

  --primary-color: #7283fe;
  --secondary-color: #f29085;
  --tertiary-color: #5a5a5a;
  --link-hover-color: #f29085;
  --black-color: #212529;
  --black-background-color: #5a5a5a;
  --white-color: #ffffff;
  --white-background-color: #ffffff; /*#def;*/
  --font-serif: 'Times New Roman', Times, serif;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --link-color: #551a8b;
}

/*---------------------
        RESETS
---------------------*/
html,
body,
address,
blockquote,
dl,
dt,
dd,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
table,
tr,
td,
th,
p,
img {
  margin: 0;
  padding: 0;
}

img,
fieldset,
object {
  border: none;
}
ul {
  list-style-type: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
button,
label {
  cursor: pointer;
}
html,
body {
  height: 100%;
}

/*---------------------
      AT RULES
---------------------*/

@font-face {
  font-family: 'Lucida-Calligraphy';
  src: url('/fonts/lucida-calligraphy.ttf') format('truetype');
  font-weight: normal;
}

/* phone only 599px */
@media screen and (max-width: 37.4375em) {
  * {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
  footer {
    flex-direction: row;
  }
  footer {
    gap: 1em;
  }
  .visibility_phone {
    visibility: visible;
  }
  .visibility_not-phone {
    height: 0;
    visibility: collapse;
    width: 0;
  }

  p {
    text-align: left;
  }
  #ul_nav-h_phone {
    height: fit-content;
  }
  #ul_nav-h_not-phone {
    height: 0;
  }
}

/* tablet portrait up 600px */
@media screen and (min-width: 37.5em) {
  footer {
    flex-direction: row;
  }

  p {
    text-align: justify;
  }

  .visibility_phone {
    height: 0;
    visibility: collapse;
    width: 0;
  }
  .visibility_not_phone {
    visibility: visible;
  }
  #sec_page-body-side-menu {
    display: flex;
  }
  #ul_nav-h_phone {
    height: 0;
    margin-bottom: 0.5em;
  }
  #ul_nav-h_not-phone {
    height: fit-content;
  }
}

/* table landscape up 900px */
@media screen and (min-width: 56.25em) {
}

/* desktop up 1200px */
@media screen and (min-width: 75em) {
}

/* big desktop up 1800px */
@media screen and (min-with: 112.5em) {
}

/*--------------------------------------
        SELECTORS
---------------------------------------*/

a p {
  text-align: center;
}

a,
li,
p,
td {
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  margin-top: 0;
}
/*a:not(.li_nav_h-active, .li_nav_v-active):hover */
a:focus,
a:hover {
  transform: scale(1.2); /*color: var(--link-hover-color);*/
}
address {
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  font-style: normal;
  margin-bottom: 0.5em;
  text-align: center;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white-background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans-serif);
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
  width: 95vw;
}

details #fnav {
  padding-bottom: 10em;
}
dl {
  font-family: var(--font-sans-serif);
  margin-left: 2em;
  text-align: left;
}

figcaption {
  border-top: 1px solid #00bcd4;
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 1em 0 0 0;
  text-align: center;
}
figure {
  margin: 1em 0;
}
footer a {
  color: var(--white-color);
}
footer a {
  font-size: var(--step--1);
  margin: 0;
} /*
footer a:hover {
  color: var(--link-hover-color);
} */
footer address {
  font-size: var(--step--1);
}
footer article {
  height: fit-content;
}
footer {
  background-color: var(--tertiary-color);
  display: flex;
  color: var(--white-color);
  font-size: var(--step--3);
  justify-content: space-around;
  line-height: 1.2em;
  margin: 0.625em 0;
  padding: 0.25em 0;
  text-align: center;
}

footer {
  flex-shrink: 0;
}

h1 {
  background: var(--primary-color);
  color: var(--white-background-color);
  display: block;
  font-family: 'Lucida-Calligraphy';
  font-size: var(--step-3);
  font-weight: 700;
  height: fit-content;
  width: fit-content;
}
h2 {
  color: var(--black-color);
  font-family: var(--font-sans-serif);
  font-size: var(--step-2);
  font-weight: bold;
  margin: 0;
  text-align: center;
}

h3 {
  color: var(--black-color);
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  font-weight: 500;
  margin: 0;
  text-align: center;
}
header {
  margin-top: 0.625em;
}
hr {
  border-top: 2px solid var(--primary-color);
  color: var(--black-background-color);
  display: block;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
  overflow-x: hidden;
  text-align: center;
}
img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

li,
p {
  margin-bottom: 0.5em;
}

li,
td {
  text-align: left;
  font-size: ;
}
main {
  flex: 0;
}
p .art_page-body {
  text-align: justify;
}
p .wide {
  width: 18.75em;
}

small {
  display: block;
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}

.a_title {
  border: none;
  text-decoration: underline;
  padding: 0;
}
.art_page-body {
  align-items: top;
  margin-top: 0 1em;
  margin-left: 1em;
  margin-right: 1em;
  overflow-x: hidden;
  text-align: center;
}

.div_updated {
  font-size: 1.2em;
  text-align: right;
}
.dl_book-donations dd {
  margin-left: 3em;
}
.dl_book-donations dt,
.dl_book-donations dd {
  text-indent: -1.5em;
  padding-left: 1.5em;
}
.dl_book-donations {
  font-size: var(--step-1);
}

.hr_divider,
.hr_divider-sidemenu,
.hr_divider-nav_v {
  width: 100%;
}

.hr_sub-divider {
  border-top: 2px solid var(--secondary-color);
  width: 80%;
}

.icon_mobile-menu {
  padding-top: 0.35em;
}
.icon_social-media {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 3em;
}
.img_poster {
  max-width: 50%;
}

.li_menu a {
  font-size: var(--step-1);
  text-align: left;
}

.li_menu-subpages a {
  padding-left: 1em;
}

.li_nav_h {
  font-size: var(--step--1);
}

.li_nav_h,
.li_nav_v {
  box-sizing: border-box;
  color: var(--black-color);
  display: block;
  font-family: var(--font-sans-serif);
  font-weight: 700;
  height: auto;
  line-height: 1.5em;
  margin-top: 0;
  outline: 0;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: fit-content;
}
.li_nav_h-active,
.li_nav_v-active {
  background: var(--secondary-color);
  color: var(--white-background-color);
}
.li_nav_h-inactive,
.li_nav_v-inactive {
  background: var(--white-background-color);
  color: var(--black-color);
}
.li_nav_h-inactive:focus {
  outline: 0;
}
.li_nav_v {
  border: 1px solid var(--secondary-color);
  padding: 0.125em 0.625em 0.25em;
}
.li_nav_v {
  font-size: var(--step--1);
}
.li_nav_v-active {
  outline: 0;
}
.p_accomplishments {
  display: list-item;
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 2em;
}
.p_bordered-box {
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.p_category {
  font-weight: bold;
}

.scroll-to-top {
  bottom: 0.1em !important;
}
.td_orgname {
  padding-left: 0.5em;
  text-align: left;
}
.td_orgtitle {
  padding-right: 0.5em;
  text-align: right;
}

.tr_event td:first-of-type {
  padding-left: 1.5em;
  text-indent: -1.5em;
  font-weight: 500;
  width: 40%;
}

.tr_event td:last-of-type {
  width: 30%;
}
.tr_event td:nth-child(2) {
  padding-right: 1em;
  width: 30%;
}

.tr_event {
  height: 3em;
  padding-bottom: 1em;
  text-align: top;
  vertical-align: top;
}

.ul_bookslist {
  list-style-type: none;
}
.ul_gsheets-data p {
  font-size: var(--step-1);
  padding-left: 1.5em;
  text-align: left;
  text-indent: -1.5em;
}
.ul_nav-h li a {
  padding: 0 0.55em 0 0.55em;
}

.ul_nav-h li {
  margin-bottom: 0;
}

.ul_nav-h {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  height: fit-content;
  list-style-type: none;
  justify-content: center;
  margin: 0.625em 0;
  line-height: 1.5em;
  vertical-align: center;
  width: 95vw;
}

.vstack :not(:first-child) {
  margin-top: 1.25em;
}

#a_photo-album {
  font-size: var(--step-1);
  font-weight: 500;
  margin-top: 0;
}

#art_buyabrick p {
  text-align: left;
  width: 95vw;
}
#art_loaders {
  align-items: baseline;
  display: inline-flex;
  gap: 1em;
  justify-content: center;
  padding-top: 0.25em;
}
#art_quick-links_left {
  text-align: right;
}
#art_quick-links_left,
#art_quick-links_right {
  display: flex;
  flex-direction: column;
}

#art_quick-links_right {
  text-align: left;
}

#books details {
  color: var(--black-color);
  text-align: left;
}
#books summary {
  font-size: var(--step-1);
  font-weight: bold;
  text-align: center;
}
#btn_close {
  background-color: transparent;
  border: none;
  float: left;
}
#div_books-footer b,
#div_books-footer i {
  display: block;
  font-size: 1.2em;
  text-align: left;
}
#div_breadcrumbs {
  margin-bottom: 0.5em;
  text-align: left;
  text-transform: capitalize;
}
#div_new-wing {
  aspect-ratio: 650/160;
  background-image: url('../assets/images/NewWing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625em;
  width: 50%;
}

#dl_upcoming-events {
  font-size: var(--step-1);
  margin-bottom: 0.625em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#dl_upcoming-events dd {
  margin: 0 1em 0 1em;
  text-align: center;
}

#form_paypal {
  text-align: center;
}

#icon_menu-not-phone {
  margin-top: 0.45em;
}

#icon_menu-not-phone:hover,
#icon_menu-not-phone:focus,
#icon_menu-phone:focus,
#icon_menu-phone:hover {
  transform: scale(1.2);
}

#nav_v {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 10em;
}

#nav_v a {
  line-height: 1em;
  width: 100%;
}
#nav_v hr {
  border-top-color: var(--secondary-color);
  border-top-width: 4px;
}
#nav_v li {
  list-style-type: none;
  margin: 0;
}
#p_mission-statement {
  margin-top: 2em;
  width: 80%;
}
#p_rentalornew {
  font-weight: bold;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#sec-hero :nth-child(1) {
  height: 0;
}
#sec_grab-and-go {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  width: 100%;
}
#sec_hero :first-child article,
#sec_hero :last-child article {
  width: 15%;
}

#sec_hero :nth-child(2) article div {
  font-size: var(--step-0);
  font-weight: bold;
  margin: 0;
  text-align: center;
  width: 100%;
}

#sec_hero :nth-child(2) {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida-Calligraphy';
  padding: 0.5em 0 0.25em 0;
  width: 70%;
}

#sec_hero :nth-child(3) button a {
  color: white;
  font-family: var(--font-sans-serif);
  font-size: var(--step--3);
  font-weight: 600;
  text-align: center;
  vertical-align: center;
}

#sec_hero :nth-child(3) button {
  background: var(--secondary-color);
  border-radius: 0.375em;
  border-style: solid;
  border-width: 0;
  color: white;
  height: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 1;
  padding-bottom: 0.125em;
  text-align: center;
  width: fit-content;
}
#sec_hero {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  margin-top: 0.625em;
  padding-bottom: 0.2em;
  overflow-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  white-space: pre-wrap;
  width: 95vw;
}

#sec_home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  overflow-y: hidden;
}
#sec_home h2 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#sec_new-arrivals a,
#sec_quick-links a,
#a_photo-album,
#a_event-link {
  font-size: var(--step-1);
  font-weight: 500;
}
#sec_new-arrivals article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#sec_prizes a {
  font-size: var(--step-1);
  font-weight: 500;
}

#sec_prizes article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#sec_prizes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
}
#sec_quick-links article {
  margin-top: 0;
}

#sec_quick-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

#sec_supporter-links {
  display: flex;
  flex-direction: column;
  height: 5em;
  justify-content: space-between;
}
#tbl_officers td {
  font-size: var(--step-1);
  width: 20%;
}
#tbl_officers {
  font-family: var(--font-sans-serif);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}

#tbl_upcoming-events {
  margin-top: 0;
}

#ul_accomplishments {
  list-style-type: disc;
  margin-left: 2em;
  width: 90%;
}

#ul_breadcrumbs {
  display: flex;
  flex: row;
}

#ul_donation-hours {
  list-style-type: disc;
  margin-left: 2em;
  text-align: left;
  width: 80%t;
}

#ul_menu {
  display: block;
  list-style-type: none;
  text-align: left;
}
