#quicklinks details {
  text-align: left;
}
#quicklinks details p {
  padding-left: 3em;
  text-align: left;
}
#quicklinks details #main[open] p {
  margin: 0;
  padding: 0;
}
#quicklinks summary,
#quicklinks summary::marker {
  color: var(--white-color) !important;
}
